<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>Book Brawl <% if(title !== ''){ %> | <%= title %><% } %></title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://use.typekit.net/gfv0mlb.js"></script>
	<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<% include ./login-modal %>
