<div class="login-modal modal">
	<div class="overlay">
		<div class="content-block-small content-block">
			<h3>Book Brawl Log In</h3>
			<p class="quote">“Some type of quote.”</p>
			<ul class="field-list field-list-small">
				<li>
					<label for="email">Email Address</label>
					<input id="email" type="text">
				</li>
				<li>
					<label for="passwprd">Password</label>
					<input id="password" type="password">
				</li>
			</ul>
			<div class="submit-row submit-row-small">
				<div class="buttons">
					<a class="button button-white" href=".">Close</a>
					<a class="button button-red" href=".">Sign Up</a>
				</div>
				<div class="controls">
					<p><a class="modal-trigger-password" href=".">Forgot Password?</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay is-hidden">
		<div class="content-block-small content-block" id="reset">
			<h3>Password Reset</h3>
			<p class="instructions">Instructions here.</p>
			<ul class="field-list field-list-small">
				<li>
					<label for="email">Email Address</label>
					<input id="email" type="text">
				</li>
			</ul>
			<div class="submit-row submit-row-small">
				<div class="buttons">
					<a class="button button-white" href=".">Close</a>
					<a class="button button-red" href=".">Submit</a>
				</div>
			</div>
		</div>
	</div>
</div>
