<div class="login-modal modal">
	<div id="log-in"></div>
	<div class="overlay is-hidden">
		<div class="content-block-small content-block" id="reset">
			<h3>Password Reset</h3>
			<p class="instructions">Instructions here.</p>
			<ul class="field-list field-list-small">
				<li>
					<label for="email">Email Address</label>
					<input id="email" type="text">
				</li>
			</ul>
			<div class="submit-row submit-row-small">
				<div class="buttons">
					<a class="button button-white" href=".">Close</a>
					<a class="button button-red" href=".">Submit</a>
				</div>
			</div>
		</div>
	</div>
</div>
