<footer class="main-footer">
		<div class="container">
				<div class="footer-spread">
						<div class="flex-row">
								<div>
										<h4>Title</h4>
										<ul>
												<li>
														<a href=".">Aenean</a>
												</li>
												<li>
														<a href=".">Bibendum</a>
												</li>
										</ul>
								</div>
								<div>
										<h4>Title</h4>
										<ul>
												<li>
														<a href=".">Aenean</a>
												</li>
												<li>
														<a href=".">Bibendum</a>
												</li>
										</ul>
								</div>
								<div>
										<h4>Title</h4>
										<ul>
												<li>
														<a href=".">Aenean</a>
												</li>
												<li>
														<a href=".">Bibendum</a>
												</li>
										</ul>
								</div>
								<div>
										<h4>Join our newsletter</h4>
										<form>
												<input type="text" placeholder="Enter Email Address">
												<button>Submit</button>
										</form>
								</div>
						</div>
				</div>
				<div>
						<p>&copy; 2017 Book Brawl, All Rights Reserved</p>
				</div>
		</div>
</footer>
