<aside class="view-sidebar set-view-menu">
    <div class="fixed-area">
        <a href="/" class="brand">
            <figure>
                <div class="logo"></div>
                <figcaption>Book Brawl</figcaption>
            </figure>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <div class="icon">
                            <img src="/assets/images/icons/nav/browse.svg" alt="Browse">
                        </div>
                        <span>Browse</span>
                    </a>
                    <ul>
                        <li>
                            <a href=".">All</a>
                        </li>
                        <li>
                            <a href=".">Trending</a>
                        </li>
                        <li>
                            <a href=".">Genre Name</a>
                        </li>
                        <li>
                            <a href=".">My Library</a>
                        </li>
                    </ul>
                </li>

                <div id="login-buttons"></div>
                <li>
                    <a href="/search/">
                        <div class="icon">
                            <img src="/assets/images/icons/nav/advanced-search.svg" alt="Browse">
                        </div>
                        <span>Advanced Search</span>
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <form class="search-form">
                <input type="search" placeholder="Search">
            </form>
            <a href="." class="button button-red button-night-mode">Night Mode</a>
        </footer>
    </div>
</aside>
