<aside class="view-sidebar set-view-menu">
    <div class="fixed-area">
        <a href="/" class="brand">
            <figure>
                <div class="logo"></div>
                <figcaption>Book Brawl</figcaption>
            </figure>
        </a>
        <nav>
            <ul>
                <div id="login-buttons" title="<%= title %>"></div>
            </ul>
        </nav>
        <footer>
            <form class="search-form">
                <input type="search" placeholder="Search">
            </form>
            <a href="." class="button button-red button-night-mode">Night Mode</a>
        </footer>
    </div>
</aside>
