// Content Block
// -------------
.content-block {
  background-color: $white;
  width: 100%;
  box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
  border-radius: $br-normal;
  margin-bottom: em(24);
  .placeholder {
    height: em(220);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-standard {
    margin: 0 auto;
    max-width: $match-8;
    @include w1000 {
      width: 100%;
    }
    padding: 1em;
    @include w1000 {
      padding: 3em;
    }
    header {
      margin-bottom: 2.25em;
    }
    h3 {
      font-size: em(26);
      text-align: center;
      margin-bottom: 0.375em;
    }
    .lead {
      font-size: em(17);
      text-align: center;
    }
    h4 {
      margin-bottom: 1em;
      span {
        color: $light-blue;
      }
    }
    p, label {
      font-size: em(14);
      display: block;
    }
    label {
      margin-bottom: em(4);
    }
    textarea {
      margin: 1em 0 2em;
    }
  }
  &-standard-new { /* for spacing between blocks - TEMPORARY FIX */
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: $match-8;
    height: em(350);
    overflow-y: scroll;
    @include w1000 {
      width: calc(50% - #{ $gutter / 2 });
      padding: 2em;
    }
    padding: 1em;
    header {
      margin-bottom: 2.25em;
    }
    h3 {
      font-size: em(26);
      text-align: center;
    }
    .lead {
      font-size: em(17);
      text-align: center;
    }
    h4 {
      font-size: em(20);
      margin-bottom: 1em;
      color: $dark-blue;
    }
    h5 {
      color: $light-blue;
    }
    p, label {
      font-size: em(14);
      display: block;
    }
    label {
      margin-bottom: em(4);
    }
    li {
      margin-bottom: 1em;
    }
    textarea {
      margin: 1em 0 2em;
    }
  }
  &-standard-slide {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: $match-8;
    height: em(350);
    overflow-y: scroll;
    @include w1000 {
      width: calc(100% - #{ $gutter / 2 });
      padding: 2em;
    }
    h4 {
      margin-bottom: 1em;
    }
    h5 {
      color: $light-blue;
    }
  }
  .field-list {
    > li {
      margin-bottom: $gutter/1.5;
      &.field-error {
        label {
          color: $red;
        }
        input,select {
          box-shadow: inset 0 0 0 1px $red;
        }
      }
    }
    @include w640 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > li {
        width: calc(50% - #{$gutter/2});
        margin-bottom: $gutter/1.25;
      }
    }
    &-small {
      li {
        width: 100%;
      }
    }
    &-split {
      justify-content: flex-start;
      flex-wrap: nowrap;
      @include n640 {
        > li {
          &:first-child {
            margin-bottom: 2em;
          }
        }
      }
      @include w640 {
        > li {
          max-width: em(235);
          &:first-child {
            margin-right: 1.5em;
          }
        }
      }
    }
    .inner-fields {
      li {
        label {
          font-size: em(12);
          margin-bottom: rem(8);
        }
        input {
          margin-bottom: 1em;
          padding: em(4) em(8);
          &[type="file"] {
            padding: em(10) em(8) em(10) em(18);
          }
        }
        small {
          font-size: em(10);
          line-height: 1.375;
          display: block;
        }
      }
    }
  }

  .field-list.account-settings {
    justify-content: flex-start;
  }

  .toggle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.75em 0;
    ::selection {
      background-color: transparent;
    }
    li {
      color: $light-blue;
      cursor: pointer;
      border-radius: $br-normal;
      border: 1px solid $light-blue;
      text-align: center;
      margin-bottom: 1em;
      width: calc(1/2*100% - 1/2*1em);
      @include w480 {
        width: calc(1/3*100% - 2/3*1em);
      }
      @include w640 {
        width: calc(25% - 0.75em);
      }
      &:hover {
        background-color: rgba($light-blue, 0.09375);
      }
      &.is-active {
        background-color: $light-blue;
        color: $white;
      }
      &.spacing-block {
        border: none;
        visibility: hidden;
        margin: 0;
      }
    }
    input {
      display: none;
    }
    label {
      color: $light-blue;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      width: 100%;
    }
    input:checked + label {
      background-color: $light-blue;
      color: $white;
    }
  }

  .new-create-books-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 0;
    .new-field {
      display: flex;
      width: calc(25% - 0.75em);
      align-items: center;
      margin: 0.5em 0;
      label {
        // text-align: center;
        padding-left: 1em;
      }
    }
  }

  .submit-row {
    margin: 3em 0 0;
    display: flex;
    justify-content: space-between;
    .field {
      width: calc(50% - 0.75em);
      display: flex;
      align-items: center;
      margin: 0.5em 0;
      label {
        padding-left: 1em;
      }
    }
    .buttons {
      width: calc(50% - 0.75em);
      display: flex;
      justify-content: space-between;
      .button {
        width: calc(50% - 0.75em);
      }
    }
    &-small {
      width: 100%;
      flex-direction: column;
      margin-top: 0.5em;
      margin-right: 20px;
      .buttons {
        width: 100%;
      }
      .controls {
        margin-top: 1.5em;
      }
    }
    &-single {
      justify-content: flex-end;
    }
    &-editor {
      margin-top: 0;
      width: 100%;
      .buttons {
        margin-top: 0.5em;
        width: 100%;
        display: flex;
        .button {
          width: calc(50% - 0.75em);
        }
      }
    }
  }
  &-small {
    width: $col-12;
    max-width: em(400);
    margin: 0 auto;
    padding: 1.75em 2.25em 1.75em;
    @include w640 {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
    h3 {
      font-size: em(24);
      margin-bottom: 0;
    }
    .quote {
      color: $light-blue;
      font-size: em(16);
      text-align: center;
      line-height: 1.25;
      margin-bottom: 1.25em;
    }
    .instructions {
      font-size: em(16);
      text-align: center;
      line-height: 1.25;
      margin-bottom: 1.25em;
    }
  }
}

.chapter-row {
  margin: 0.5em 0 0;
  display: flex;
  // input {
    //     width: calc(75% - 0.75em) !important;
  // }
  .buttons {
    width: calc(100% - 0.75em);
    display: flex;
    justify-content: space-between;
    .add-or-remove {
      width: calc(75% - 0.75em);
      display: flex;
      padding: 0;
      input {
        margin-right: 20px;
        width: auto;
      }
    }
    .button {
      width: calc(50% - 0.75em);
      margin-right: rem(6);
    }
  }
}

.error-message {
  color: #fff;
  background: red;
  text-align: center;
  margin: 14px 0 15px 0;
  padding: 10px 0;
}
.email-us {
  h3 {
    line-height: 20px;
    margin: 0 0 10px 0;
  }
  h5 {
    text-align: center;
    margin: 0 0 6px 0;
    font-size: 18px;
  }
  .submit-row {
    display: inline-block;
    width: 100%;
    background: none;
    #button {
      margin: 0 auto;
      width: 145px;
    }
  }
}
.content-block-spread {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $gutter;
  .content-block {
    width: $col-12;
    @include w640 {
      width: $col-6;
    }
    @include w1000 {
      width: $col-6-lim;
    }
  }
}
