// User List
// -----------
#friends .user-list {
    min-height: 180px;
}
.user-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 35px 1.5em 0;
        @include w480 {
            width: initial;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                margin-top: em(12);
            }
        }
    }
}
