// LAYOUT
// --------------------------------------

// View, main, aside
// -----------------
.view {
    display: flex;
    background-color: $dark-blue;
    overflow: hidden;
}
.main-view {
    order: 2;
    flex-grow: 1;
    transition: transform $timing-slower, opacity $timing-slower;
}
.view-sidebar {
    order: 1;
    width: 0;
    @include w1000 {
        width: em(200);
        flex-shrink: 0;
    }
    .fixed-area {
        position: fixed;
        height: 100%;
        // padding: 1em;
        background-color: $white;
        box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        width: calc(100vw - 3em);
        transform: translateX((calc(-100vw + 3em)));
        transition: transform $timing-slower, width $timing-slower;
        @include w480 {
            width: em(200);
            transform: translateX(em(-200));
        }
        @include w1000 {
            transform: translateX(0);
        }
        .brand {
            padding: em(24) 1em em(10);
            flex-direction: column;
            align-items: center;

            transition: opacity $timing-normal;
            &:hover {
                background-color: $shade-gray;
                figure {
                    .logo {
                        background-color: $light-gray;
                    }
                }
            }
            figure {
                .logo {
                    background-color: $shade-gray;
                    height: em(120);
                    width: em(120);
                    border-radius: 100%;
                    margin-bottom: em(7);
                    background-image: url('/assets/images/logo.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                figcaption {
                    text-align: center;
                    color: $dark-blue;
                    font-family: $heading;
                    font-size: em(20);
                }
            }

            display: none;
            @include w1000 {
                display: flex;
            }
        }
        nav {
            margin-bottom: em(8);
            padding: 1em 0;
            border-bottom: 1px solid $shade-gray;
            > ul {
                > li {
                    > a {
                        padding: em(4) em(8);
                        color: $dark-blue;
                        font-weight: $medium;
                        display: flex;
                        align-items: center;
                        &:hover {
                            background-color: $shade-gray;
                        }
                        .icon {
                            width: em(18);
                            height: em(18);
                            margin-right: em(6);
                        }
                    }
                    ul {
                        li {
                            a {
                                padding: em(4) em(8) em(4) em(32);
                                &:hover {
                                    color: $dark-blue;
                                    background-color: $shade-gray;
                                }
                            }
                        }
                    }
                    &.selected {
                        > a {
                            background-color: $shade-gray;
                        }
                        li.selected {
                            color: $dark-blue;
                            font-weight: $medium;
                        }
                    }
                    &:not(.selected) {
                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
        footer {
            padding: em(8);
            @include n1000 {
                position: absolute;
                width: 100%;
                bottom: em(60);
                display: flex;
                justify-content: center;
            }
            .search-form {
                margin-bottom: 1em;
                input {
                    background-color: $shade-gray;
                    background-image: url('/assets/images/icons/search.svg');
                    background-repeat: no-repeat;
                    background-position: right em(12) center;
                }

                display: none;
                @include w1000 {
                    display: block;
                }
            }
            .button-night-mode {
                @include n1000 {
                    text-align: center;
                    width: auto;
                    padding-left: rem(57);
                    padding-right: rem(57);
                }
                background-image: url('/assets/images/icons/night-mode.svg');
                background-repeat: no-repeat;
                background-position: left rem(21) center;
            }
        }
    }
}
body.menu-open {
    .view-sidebar {
        .fixed-area {
            transform: translateX(0);
        }
    }
    .main-view {
        transform: translateX(calc(100vw - 3em));
        opacity: 0.5;
        @include w480 {
            transform: translateX(em(200));
        }
        @include w1000 {
            transform: translateX(0);
        }
    }
    .mobile-header .fixed-area .flex-row a.control {
        .menu-open {
            display: none;
        }
        .menu-close {
            display: block;
        }
    }
}
.mobile-header {
    height: em(44);
    .fixed-area {
        position: fixed;
        z-index: 100;
        height: em(44);
        width: 100%;
        background-color: $white;
        box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
        .flex-row {
            padding: em(2) em(4);
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                transition: opacity $timing-normal;
                &:hover {
                    opacity: 0.5;
                }
                &.logo {
                    font-family: $heading;
                    color: $dark-blue;
                    line-height: 1;
                    padding: em(10) em(12) em(12);
                }
                &.control {
                    padding: em(12);
                    .menu-close {
                        width: em(16);
                        height: em(16);
                        display: none;
                    }
                }
            }
        }
    }
    @include w1000 {
        display: none;
    }
}


// Container
// ---------
.container {
    margin: 0 auto;
    width: calc(100% - #{$gutter});
    min-width: calc(#{em(320)} - #{$gutter});
    @include w1000 {
        width: $col-12-lim;
    }
}

// Standard Section
// ----------------
.standard-section {
    padding: em(48) 0;
    background-color: $shade-gray;
    background-image: url('/assets/images/background-pattern.jpg');
    background-size: 350px;
    background-position: center;
    .copy-limit {
        max-width: $match-8;
        margin: 0 auto;
        color: darken($dark-gray, 7.5%);
    }
    &-with-sidebar {
        > .container {
            > .flex-row {
                @include w640 {
                    display: flex;
                    justify-content: space-between;
                }
                > div:first-child {
                    @include w640 {
                        width: $col-8;
                    }
                    @include w1000 {
                        width: $col-8-lim;
                    }
                }
                > div:last-child {
                    @include w640 {
                        width: $col-4;
                    }
                    @include w1000 {
                        width: $col-4-lim;
                    }
                }
            }
        }
    }
}

// Footer
// ------
.main-footer {
    background-color: $dark-blue;
    color: $white;
    padding: em(45) 0;
    h4 {
        color: $white;
        font-size: em(18);
        margin-bottom: em(14);
    }
    .footer-spread {
        margin-bottom: 2em;
        .flex-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            > div {
                flex-shrink: 0;
                margin-bottom: 2em;
                width: $col-12;

                @include w640 {
                    width: $col-6;
                }
                @include w1000 {
                    width: $col-3-lim;
                }
                form {
                    input {
                        color: $lighter-black;
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }
    p {
        font-size: em(12);
        font-family: $heading;
        text-align: center;
    }
}

// Modal
// -----
.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    opacity: 0;
    transition: opacity $timing-slower, visibility $timing-slower;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($black, 0.5625);
        &.is-hidden {
            opacity: 0;
            visibility: hidden;
        }
        .content-block {
            transition: transform $timing-slower, opacity $timing-slower;

            transform: translateY(0.75em);
        }
    }
}

body.modal-showing {
    .modal {
        visibility: visible;
        opacity: 1;
        .content-block {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .overlay.is-hidden {
        .content-block {
            opacity: 0;
            transform: translateY(0.75em);
        }
    }
}
