#night-mode {
	h1,
	h2,
	h3,
	h4,
	h5,
	.filter-controls,
	select,
	input,
	a {
		color: $white;
	}
	input {
		background: $light-black;
	}
	hr {
		color: 17181a;
	}
	input[type="radio"] {
		border-color: $light-black;
	}
	.day {
		display: none;
	}
	.night {
		display: block;
	}
	.content-block {
		background-color: $lighter-black;
		width: 100%;
		box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
		border-radius: $br-normal;
		margin-bottom: em(24);
		.placeholder {
			height: em(220);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-standard {
			margin: 0 auto;
			max-width: $match-8;
			@include w1000 {
		        width: 100%;
		    }
			padding: 1em;
		    @include w1000 {
		        padding: 3em;
		    }
			header {
				margin-bottom: 2.25em;
			}
		    h3 {
		        font-size: em(26);
		        text-align: center;
		        margin-bottom: 0.375em;
		    }
		    .lead {
		        font-size: em(17);
		        text-align: center;
		    }
		    h4 {
		        margin-bottom: 1em;
		        span {
		            color: $light-blue;
		        }
		    }
		    p, label {
		        font-size: em(14);
		        display: block;
		    }
			label {
				margin-bottom: em(4);
			}
			textarea {
				margin: 1em 0 2em;
			}
		}
		.field-list {
	        > li {
	            margin-bottom: $gutter/1.5;
	            &.field-error {
	                label {
	                    color: $red;
	                }
	                input,select {
	                    box-shadow: inset 0 0 0 1px $red;
	                }
	            }
	        }
	        @include w640 {
	            display: flex;
	            flex-wrap: wrap;
	            justify-content: space-between;
	            > li {
	                width: calc(50% - #{$gutter/2});
	                margin-bottom: $gutter/1.25;
	            }
	        }
	        &-small {
	            li {
	                width: 100%;
	            }
	        }
			&-split {
				justify-content: flex-start;
				flex-wrap: nowrap;
				@include n640 {
					> li {
						&:first-child {
							margin-bottom: 2em;
						}
					}
				}
				@include w640 {
					> li {
						max-width: em(235);
						&:first-child {
							margin-right: 1.5em;
						}
					}
				}
			}
			.inner-fields {
				li {
					label {
						font-size: em(12);
						margin-bottom: rem(8);
					}
					input {
						margin-bottom: 1em;
						padding: em(4) em(8);
						&[type="file"] {
							padding: em(10) em(8) em(10) em(18);
						}
					}
					small {
						font-size: em(10);
						line-height: 1.375;
						display: block;
					}
				}
			}
	    }

	    .field-list.account-settings {
	        justify-content: flex-start;
	    }

	    .toggle-list {
	        display: flex;
	        flex-wrap: wrap;
	        justify-content: space-between;
	        margin: 0.75em 0;
	        ::selection {
	            background-color: transparent;
	        }
	        li {
	            color: $light-blue;
	            cursor: pointer;
	            border-radius: $br-normal;
	            border: 1px solid $light-blue;
	            text-align: center;
	            margin-bottom: 1em;
	            width: calc(1/2*100% - 1/2*1em);
	            @include w480 {
	                width: calc(1/3*100% - 2/3*1em);
	            }
	            @include w640 {
	                width: calc(25% - 0.75em);
	            }
	            &:hover {
	                background-color: rgba($light-blue, 0.09375);
	            }
	            &.is-active {
	                background-color: $light-blue;
	                color: $white;
	            }
	            &.spacing-block {
	                border: none;
	                visibility: hidden;
	                margin: 0;
	            }
	        }
	        input {
	            display: none;
	        }
	        label {
	            color: $light-blue;
	            cursor: pointer;
	            text-align: center;
	            font-size: 16px;
	            width: 100%;
	            margin-bottom: 0;
	        }
	        input:checked + label {
	            background-color: $light-blue;
	            color: $white;
	        }
	    }

	    .new-create-books-row {
	        display: flex;
	        flex-wrap: wrap;
	        justify-content: space-between;
	        margin: 0.5em 0;
	        .new-field {
	            display: flex;
	            width: calc(25% - 0.75em);
	            align-items: center;
	            margin: 0.5em 0;
	            label {
	                // text-align: center;
	                padding-left: 1em;
	            }
	        }
	    }

	    .submit-row {
	        margin: 3em 0 0;
	        display: flex;
	        justify-content: space-between;
	        .field {
	            width: calc(50% - 0.75em);
	            display: flex;
	            align-items: center;
	            margin: 0.5em 0;
	            label {
	                padding-left: 1em;
	            }
	        }
	        .buttons {
	            width: calc(50% - 0.75em);
	            display: flex;
	            justify-content: space-between;
	            .button {
	                width: calc(50% - 0.75em);
	            }
	            .button-white {
	            	color: red;
	            }
	        }
	        &-small {
	            width: 100%;
	            flex-direction: column;
	            margin-top: 0.5em;
	            .buttons {
	                width: 100%;
	            }
	            .controls {
	                margin-top: 1.5em;
	            }
	        }
			&-single {
				justify-content: flex-end;
			}
	    }
	    &-small {
	        width: $col-12;
	        max-width: em(400);
	        margin: 0 auto;
	        padding: 1.75em 2.25em 1.75em;
	        @include w640 {
	            padding-left: 2.5em;
	            padding-right: 2.5em;
	        }
	        h3 {
	            font-size: em(24);
	            margin-bottom: 0;
	        }
	        .quote {
	            color: $light-blue;
	            font-size: em(16);
	            text-align: center;
	            line-height: 1.25;
	            margin-bottom: 1.25em;
	        }
	        .instructions {
	            font-size: em(16);
	            text-align: center;
	            line-height: 1.25;
	            margin-bottom: 1.25em;
	        }
	    }
	}

	.chapter-row {
	    margin: 0.5em 0 0;
	    display: flex;
	    // input {
	    //     width: calc(75% - 0.75em) !important;
	    // }
	    .buttons {
	        width: calc(100% - 0.75em);
	        display: flex;
	        justify-content: space-between;
	        .add-or-remove {
	            width: calc(75% - 0.75em);
	            display: flex;
	        }
	        .button {
	            width: calc(50% - 0.75em);
	            margin-right: rem(6);
	        }
	    }
	}

	.error-message {
	    color: #fff;
	    background: red;
	    text-align: center;
	    margin: 14px 0 15px 0;
	    padding: 10px 0;
	}
	.email-us {
	    h3 {
	        line-height: 20px;
	        margin: 0 0 10px 0;
	    }
	    h5 {
	        text-align: center;
	        margin: 0 0 6px 0;
	        font-size: 18px;
	    }
	    .submit-row {
	        display: inline-block;
	        width: 100%;
	        background: none;
	        #button {
	            margin: 0 auto;
	            width: 145px;
	        }
	    }
	}
	.content-block-spread {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: $gutter;
		.content-block {
			width: $col-12;
			@include w640 {
				width: $col-6;
			}
			@include w1000 {
				width: $col-6-lim;
			}
		}
	}


	.brawl-feature {
	    position: relative;
	    header {
	        height: em(59);
	        background-color: rgba($black, 0.85);
	        padding: em(6) 0 em(8);
	        color: $white;
	        position: absolute;
	        left: 0;
	        width: 100%;
	        box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
	        @include n640 {
	            height: em(41);
	        }
	        .flex-row {
	            display: flex;
	            justify-content: space-between;
	            align-items: center;
	            h2 {
	                position: relative;
	                width: 10em;
	                text-align: center;
	                height: rem(28);
	                @include w640 {
	                    height: rem(45);
	                }
	                .week-title {
	                    display: block;
	                    position: absolute;
	                    width: 100%;
	                    transition: opacity $timing-slower, visibility $timing-slower, transform $timing-slower;
	                    &-this {
	                        opacity: 1;
	                        visibility: visible;
	                        transform: translateX(0);
	                    }
	                    &-last {
	                        opacity: 0;
	                        visibility: hidden;
	                        transform: translateX(-2em);
	                    }
	                }
	                @include n640 {
	                    font-size: em(16);
	                }
	            }
	            .label {
	                @include n640 {
	                    font-size: em(15);
	                    &-large {
	                        display: none;
	                    }
	                }
	                @include w640 {
	                    &-small {
	                        display: none;
	                    }
	                }
	            }
	            a {
	                position: relative;
	                width: em(75);
	                transition: opacity $timing-slower, visibility $timing-slower;
	                @include w640 {
	                    min-width: em(150);
	                }
	                &:hover {
	                    opacity: 0.625;
	                }
	                &:before, &:after {
	                    content: "";
	                    height: em(16);
	                    width: em(16);
	                    background-repeat: no-repeat;
	                    background-position: center;
	                    display: block;
	                    position: absolute;
	                    top: em(6);
	                }
	                &.week-control-last {
	                    @include n1280 {
	                        left: em(23);
	                    }
	                    &:before {
	                        left: em(-23);
	                        background-image: url('/assets/images/icons/left-arrow.svg');
	                    }
	                }
	                &.week-control-this {
	                    opacity: 0;
	                    visibility: hidden;
	                    @include n1280 {
	                        left: em(-23);
	                    }
	                    text-align: right;
	                    &:before {
	                        right: em(-23);
	                        background-image: url('/assets/images/icons/right-arrow.svg');
	                    }
	                }
	            }
	        }
	    }
	    &.last-week-showing {
	        header {
	            .flex-row {
	                h2 {
	                    .week-title {
	                        &-last {
	                            opacity: 1;
	                            visibility: visible;
	                            transform: translateX(0);
	                        }
	                        &-this {
	                            opacity: 0;
	                            visibility: hidden;
	                            transform: translateX(2em);
	                        }
	                    }
	                }
	                a.week-control {
	                    &-last {
	                        opacity: 0;
	                        visibility: hidden;
	                    }
	                    &-this {
	                        opacity: 1;
	                        visibility: visible;
	                    }
	                }
	            }
	        }
	        main {
	            .week {
	                transform: translateX(0);
	                &-last {
	                    opacity: 1;
	                }
	                &-this {
	                    opacity: 0;
	                }
	            }
	        }
	        footer {
	            h4 {
	                .week-results {
	                    &-last {
	                        opacity: 1;
	                        visibility: visible;
	                        transform: translateX(0);
	                    }
	                    &-this {
	                        opacity: 0;
	                        visibility: hidden;
	                        transform: translateX(2em);
	                    }
	                }
	            }
	            a.week-control {
	                &-last {
	                    opacity: 0;
	                    visibility: hidden;
	                }
	                &-this {
	                    opacity: 1;
	                    visibility: visible;
	                }
	            }
	        }
	    }
	    main {
	        background-image: url('/assets/images/brawl-feature-background-night.png');
	        background-size: cover;
	        background-position: center;
	        background-repeat: no-repeat;
	        padding: em(59+6) 0 em(0);
	        display: flex;
	        width: 100vw;
	        @include w640 {
	            padding: em(59+50) 0 em(24);
	        }
	        @include w1000 {
	            width: calc(100vw - #{em(200)});
	        }
	        .week {
	            flex-shrink: 0;
	            display: flex;
	            justify-content: center;
	            width: 100vw;
	            transform: translateX(-100vw);
	            transition: transform $timing-slower, opacity $timing-slower;
	            @include w1000 {
	                width: calc(100vw - #{em(200)});
	                transform: translateX(calc(-100vw + #{em(200)}));
	            }
	            &-last {
	                opacity: 0;
	            }
	        }
	        .flex-row {
	            display: flex;
	            max-width: em(1028);
	            margin: 0 auto;
	            justify-content: center;
	            align-items: center;
	            @include w640 {
	                justify-content: space-between;
	            }
	            .mascot {
	                max-width: em(244);
	                display: none;
	                margin-top: em(32);
	                position: relative;
	                @include w1000 {
	                    width: 25%;
	                    margin-top: 0;
	                    margin-bottom: em(28);
	                }
	                @include w640 {
	                    display: block;
	                }
	                img {
	                    width: 100%;
	                }
	                @include w1000 {
	                    &:last-of-type {
	                        img {
	                            position: relative;
	                            left: em(11);
	                            width: calc(100% - #{em(7)});
	                        }
	                        &.your-pick {
	                            &:after {
	                                left: em(6);
	                            }
	                        }
	                    }
	                }
	                .vote-count {
	                    position: absolute;
	                    width: 100%;
	                    top: em(-60);
	                    div {
	                        background-color: $light-black;
	                        display: flex;
	                        flex-direction: column;
	                        text-align: center;
	                        justify-content: center;
	                        align-items: center;
	                        width: em(128);
	                        padding: em(19) 1em;
	                        position: relative;
	                        margin: 0 auto;
	                        top: em(-10);
	                        left: em(-8);
	                        border-radius: $br-normal;
	                        strong {
	                            color: $light-blue;
	                            font-size: em(20);
	                            line-height: 1;
	                        }
	                        span {
	                            line-height: 1.375;
	                            font-size: em(14);
	                        }
	                        &:after {
	                            content: "";
	                            position: absolute;
	                            display: block;
	                            // height: 1em;
	                            // width: 1em;
	                            left: calc(50% - 0.5em);
	                            bottom: -0.625em;
	                            border-left: 0.625em solid transparent;
	                            border-right: 0.625em solid transparent;
	                            border-top: 0.625em solid $light-black;
	                        }
	                    }
	                    &.has-won {
	                        strong {
	                            color: $light-red;
	                        }
	                    }
	                }
	                &.your-pick {
	                    &:after {
	                        content: "";
	                        display: block;
	                        position: absolute;
	                        background-image: url('/assets/images/pick-banner.svg');
	                        background-size: contain;
	                        background-repeat: no-repeat;
	                        background-position: center;
	                        width: 100%;
	                        height: em(50);
	                        left: em(-16);
	                    }
	                }
	            }
	        }
	    }
	    footer {
	        background-color: $white;
	        padding: em(10) 0 em(10);
	        h4 {
	            color: $light-blue;
	            text-align: center;
	            width: 10em;
	            position: relative;
	            height: rem(28);
	            margin: 0 auto;
	            .week-results {
	                display: block;
	                position: absolute;
	                width: 100%;
	                transition: opacity $timing-slower, visibility $timing-slower, transform $timing-slower;
	                &-this {
	                    opacity: 1;
	                    visibility: visible;
	                    transform: translateX(0);
	                }
	                &-last {
	                    opacity: 0;
	                    visibility: hidden;
	                    transform: translateX(-2em);
	                }
	                &.is-announced {
	                    color: $light-red;
	                }
	            }
	            @include n640 {
	                font-size: em(16);
	            }
	        }

	    }
	}


	.view {
	    display: flex;
	    background-color: $white;
	    overflow: hidden;
	}
	.unfollow {
	    cursor: pointer;
	}
	.main-view {
	    order: 2;
	    flex-grow: 1;
	    transition: transform $timing-slower, opacity $timing-slower;
	}
	.content-block-small {
	    h3 {
	        text-align: center;
	    }
	}
	.title .help-text {
	    color: red;
	    font-size: 0.875em;
	    display: none;
	}

	#log-in .field-list .title .help-text {
	    font-size: 16px;
	}

	label span {
	    color: red;
	}

	.title {
	    display: flex;
	    justify-content: space-between;
	}

	.user-list li .control {
	    font-size: 14px;
	    border-radius: 5px;
	    color: #da0505 !important;
	    padding: 0 0 5px 0;
	}
	.user-list li .control,
	.user-list li .control.add-button {
	    cursor: pointer;
	    padding: 0 30px;
	    font-size: 13px;
	}

	#friends li {
	    margin: 20px;
	}

	.title-row {
	    #author-name,p {
	        color: inherit;
	        font-size: 16px !important;
	    }
	    #author-name {
	        float: left;
	        margin: 0 5px 0 0;
	    }
	}

	/* card fronts and backs */
	.card__front,
	.card__back {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}

	.card__front,
	.card__back {
	  -webkit-backface-visibility: hidden;
	          backface-visibility: hidden;
	  -webkit-transition: -webkit-transform 0.5s;
	          transition: transform 0.5s;
	}

	.card__back {
	  -webkit-transform: rotateY(-180deg);
	          transform: rotateY(-180deg);
	}


	/* click effect */
	.card.effect__click.flipped .card__front {
	  -webkit-transform: rotateY(-180deg);
	          transform: rotateY(-180deg);
	}

	.card.effect__click.flipped .card__back {
	  -webkit-transform: rotateY(0);
	          transform: rotateY(0);
	}

	.view-sidebar {
	    order: 1;
	    width: 0;
	    @include w1000 {
	        width: em(200);
	        flex-shrink: 0;
	    }
	    .fixed-area {
	        position: fixed;
	        height: 100%;
	        // padding: 1em;
	        background-color: $black;
	        box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
	        overflow: scroll;
	        -webkit-overflow-scrolling: touch;

	        width: calc(100vw - 3em);
	        transform: translateX((calc(-100vw + 3em)));
	        transition: transform $timing-slower, width $timing-slower;
	        @include w480 {
	            width: em(200);
	            transform: translateX(em(-200));
	        }
	        @include w1000 {
	            transform: translateX(0);
	        }
	        .brand {
	            padding: em(24) 1em em(10);
	            flex-direction: column;
	            align-items: center;

	            transition: opacity $timing-normal;
	            figure {
	                .logo {
	                    height: em(155);
	                    width: em(120);
	                    margin-bottom: em(7);
	                    background-image: url('/assets/images/logo-temp-night.png');
	                    background-size: cover;
	                    background-position: center;
	                    background-repeat: no-repeat;
	                }
	                figcaption {
	                    text-align: center;
	                    color: $white;
	                    font-family: $heading;
	                    font-size: em(20);
	                }
	            }

	            display: none;
	            @include w1000 {
	                display: flex;
	            }
	        }
	        nav {
	            margin-bottom: em(8);
	            padding: 1em 0;
	            border-bottom: 1px solid $light-black;
	            > ul {
	                > li,.sign-in-buttons li {
	                    > a {
	                        padding: em(4) em(8);
	                        color: $white;
	                        font-weight: $medium;
	                        display: flex;
	                        align-items: center;
	                        &:hover {
	                            background-color: $light-black;
	                        }
	                        .icon {
	                            width: em(18);
	                            height: em(18);
	                            margin-right: em(6);
	                        }
	                    }
	                    ul {
	                        li {
	                            a {
	                                padding: em(4) em(8) em(4) em(32);
	                                &:hover {
	                                    color: $white;
	                                    background-color: $light-black;
	                                }
	                            }
	                        }
	                    }
	                    &.selected {
	                        > a {
	                            background-color: $light-black;
	                        }
	                        li.selected {
	                            color: $white;
	                            font-weight: $medium;
	                        }
	                    }
	                    &:not(.selected) {
	                        ul {
	                            display: none;
	                        }
	                    }
	                }
	            }
	        }
	        footer {
	            padding: em(8);
	            @include n1000 {
	                position: absolute;
	                width: 100%;
	                bottom: em(60);
	                display: flex;
	                justify-content: center;
	            }
	            .search-form {
	                margin-bottom: 1em;
	                input {
	                    background-color: $light-black;
	                    background-image: url('/assets/images/icons/search-night.svg');
	                    background-repeat: no-repeat;
	                    background-position: right em(12) center;
	                }

	                display: none;
	                @include w1000 {
	                    display: block;
	                }
	            }
	            .button-night-mode {
	                @include n1000 {
	                    text-align: center;
	                    width: auto;
	                    padding-left: rem(57);
	                    padding-right: rem(57);
	                }
	                background-image: url('/assets/images/icons/night-mode.svg');
	                background-repeat: no-repeat;
	                background-position: left rem(21) center;
	            }
	        }
	    }
	}
	body.menu-open {
	    .view-sidebar {
	        .fixed-area {
	            transform: translateX(0);
	        }
	    }
	    .main-view {
	        transform: translateX(calc(100vw - 3em));
	        opacity: 0.5;
	        @include w480 {
	            transform: translateX(em(200));
	        }
	        @include w1000 {
	            transform: translateX(0);
	        }
	    }
	    .mobile-header .fixed-area .flex-row a.control {
	        .menu-open {
	            display: none;
	        }
	        .menu-close {
	            display: block;
	        }
	    }
	}
	.mobile-header {
	    height: em(44);
	    .fixed-area {
	        position: fixed;
	        z-index: 100;
	        height: em(44);
	        width: 100%;
	        background-color: $black;
	        box-shadow: 0 em(2) em(5) 0 rgba($black, 0.18);
	        .flex-row {
	            padding: em(2) em(4);
	            display: flex;
	            justify-content: space-between;
	            align-items: center;
	            a {
	                transition: opacity $timing-normal;
	                &:hover {
	                    opacity: 0.5;
	                }
	                &.logo {
	                    font-family: $heading;
	                    color: $white;
	                    line-height: 1;
	                    padding: em(10) em(12) em(12);
	                }
	                &.control {
	                    padding: em(12);
	                    .menu-close {
	                        width: em(16);
	                        height: em(16);
	                        display: none;
	                    }
	                }
	            }
	        }
	    }
	    @include w1000 {
	        display: none;
	    }
	}


	// Container
	// ---------
	.container {
	    margin: 0 auto;
	    width: calc(100% - #{$gutter});
	    min-width: calc(#{em(320)} - #{$gutter});
	    @include w1000 {
	        width: $col-12-lim;
	    }
	}

	// Standard Section
	// ----------------
	.standard-section {
	    padding: em(48) 0;
	    background-color: $light-black;
	    background-image: none;
	    background-size: 350px;
	    background-position: center;
	    .copy-limit {
	        max-width: $match-8;
	        margin: 0 auto;
	        color: darken($dark-gray, 7.5%);
	    }
	    &-with-sidebar {
	        > .container {
	            > .flex-row {
	                @include w640 {
	                    display: flex;
	                    justify-content: space-between;
	                }
	                > div:first-child {
	                    @include w640 {
	                        width: $col-8;
	                    }
	                    @include w1000 {
	                        width: $col-8-lim;
	                    }
	                }
	                > div:last-child {
	                    @include w640 {
	                        width: $col-4;
	                    }
	                    @include w1000 {
	                        width: $col-4-lim;
	                    }
	                }
	            }
	        }
	    }
	}

	// Footer
	// ------
	.main-footer {
	    background-color: $content-gray;
	    color: $white;
	    padding: em(45) 0;
	    h4 {
	        color: $white;
	        font-size: em(18);
	        margin-bottom: em(14);
	    }
	    .footer-spread {
	        margin-bottom: 2em;
	        .flex-row {
	            display: flex;
	            justify-content: space-between;
	            flex-wrap: wrap;
	            > div {
	                flex-shrink: 0;
	                margin-bottom: 2em;
	                width: $col-12;

	                @include w640 {
	                    width: $col-6;
	                }
	                @include w1000 {
	                    width: $col-3-lim;
	                }
	                form {
	                    input {
	                        color: $lighter-black;
	                        margin-bottom: 0.5em;
	                    }
	                }
	            }
	        }
	    }
	    p {
	        font-size: em(12);
	        font-family: $heading;
	        text-align: center;
	    }
	}

	// Modal
	// -----
	.modal {
	    visibility: hidden;
	    position: fixed;
	    top: 0;
	    left: 0;
	    height: 100vh;
	    width: 100vw;
	    z-index: 100;
	    opacity: 0;
	    transition: opacity $timing-slower, visibility $timing-slower;
	    .overlay {
	        position: absolute;
	        top: 0;
	        left: 0;
	        height: 100%;
	        width: 100%;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        background-color: rgba($black, 0.5625);
	        &.is-hidden {
	            opacity: 0;
	            visibility: hidden;
	        }
	        .content-block {
	            transition: transform $timing-slower, opacity $timing-slower;

	            transform: translateY(7em);
	        }
	    }
	}

	body.modal-showing {
	    .modal {
	        visibility: visible;
	        opacity: 1;
	        .content-block {
	            opacity: 1;
	            transform: translateY(0);
	        }
	    }
	    .overlay.is-hidden {
	        .content-block {
	            opacity: 0;
	            transform: translateY(0.75em);
	        }
	    }
	}
	.modal-trigger-password {
	    display: inline;
	    color: #0FAFFF;
	}
	#search {
	    .user-list {
	        display: inline-block;
	        padding: 0 20px;
	        li {
	            float: left;
	            margin: 0 30px 30px 0;
	        }
	    }
	}
	form .instructions {
	    font-size: 14px;
	    line-height: 20px;
	    vertical-align: initial;
	    display: block;
	    margin: 0 0 20px 0;
	}


	.book-blocks {
	    margin-bottom: $gutter;
	    > ul {
	        display: flex;
	        justify-content: space-between;
	        flex-wrap: wrap;
	        > li {
	            width: $col-6;
	            @include w640 {
	                width: $col-4;
	            }
	            @include w1000 {
	                width: $col-3-lim;
	            }
	            a.content-block {
	                transition: box-shadow $timing-normal;
	                &:hover {
	                    box-shadow: 0 em(3) em(5) 0 rgba($black, 0.375);
	                }
	            }
	            .content-block {
	                border-radius: $br-normal;
	                overflow: hidden;
	                figure {
	                    .cover {
	                        padding-top: (1.6/1)*100%;
	                        background-size: contain;
	                        background-position: center;
	                        background-repeat: no-repeat;
	                        position: relative;
	                        background-color: $lighter-black;
	                        .overlay {
	                            position: absolute;
	                            top: 0;
	                            left: 0;
	                            width: 100%;
	                            height: 100%;
	                            visibility: hidden;
	                            background-color: rgba($black, 0.85);
	                            display: flex;
	                            flex-direction: column;
	                            justify-content: center;
	                            align-items: center;
	                            transition: visibility $timing-normal, opacity $timing-normal;
	                            opacity: 0;
	                            .button {
	                                width: rem(170);
	                                max-width: calc(100% - #{$gutter*2});
	                                margin: em(9) 0;
	                                transition: opacity $timing-normal, transform $timing-slower, box-shadow $timing-slower, background-color $timing-slower;
	                                opacity: 0;
	                                transform: translateY(0.5em);
	                                &:nth-of-type(2) {
	                                    transform: translateY(1em);
	                                }
	                            }
	                        }
	                        &:hover {
	                            .overlay {
	                                visibility: visible;
	                                opacity: 1;
	                                .button {
	                                    opacity: 1;
	                                    transform: translateY(0);
	                                }
	                            }
	                        }
	                    }
	                    figcaption {
	                        padding: em(13) em(12) em(24);
	                        text-align: center;
	                        display: flex;
	                        flex-direction: column;
	                        align-items: center;
	                        background: $light-black;
	                        h4 {
	                            line-height: 1.125;
	                            font-size: em(18);
	                            margin-bottom: em(1.5);
	                        }
	                        p {
	                            margin-bottom: em(11);
	                            color: $night-color;
	                        }
	                        .rating-display {
	                            display: flex;
	                            li {
	                                width: em(15);
	                                height: em(14);
	                                margin: 0 em(0.5);
	                                background-image: url('/assets/images/icons/star-empty.svg');
	                                &.filled {
	                                    background-image: url('/assets/images/icons/star-filled.svg');
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	    &-small {
	        > ul {
	            display: flex;
	            justify-content: space-between;
	            flex-wrap: wrap;
	            > li {
	                // width: $col-6;
	                // @include w640 {
	                //     width: $col-4;
	                // }
	                width: calc(50% - (1.5em*(1/2)));
									&:nth-child(1n+5){
										display:none;
									}
									@include w1000 {
											width: calc(33.33% - (1.5em*(1/3)));
											&:nth-child(1n+4){
												display:none;
											}
									}
	                @include w1280 {
	                    width: calc(25% - (1.5em*(3/4)));
											&:nth-child(1n+4){
												display:block;
											}
											&:nth-child(1n+5){
												display:none;
											}
	                }
	            }
	        }
	    }
	    &-feature {
	        width: 100%;
	        max-width: em(426);
	        @include w1000 {
	            max-width: em(426);
	        }
	        > ul {
	            display: flex;
	            justify-content: space-between;
	            flex-wrap: nowrap;
	            > li {
	                width: calc(50% - #{$gutter/2});
	                display: flex;
	                flex-direction: column;
	                align-items: center;
	                a:first-child {
	                    figure {
	                        figcaption {
	                            padding: em(10) em(12) em(13);
	                            h4 {
	                                font-size: em(14);
	                            }
	                            p {
	                                font-size: em(12);
	                            }
	                        }
	                    }
	                    @include w640 {
	                        & + .button {
	                            width: calc(100% - 2em);
	                        }
	                    }
	                }
	            }
	        }
	    }
	    &-single {
	        margin-bottom: 0;
	        max-width: em(215);
	        > ul {
	            > li {
	                width: 100%;
	                .content-block {
	                    margin-bottom: 0;
	                }
	            }
	        }
	    }
	    &-preview {
	        > ul {
	            > li {
	                .content-block {
	                    figure {
	                        .cover {
	                            background-color: $shade-gray;
	                            position: relative;
	                            .flex {
	                                position: absolute;
	                                top: 0;
	                                left: 0;
	                                width: 100%;
	                                height: 100%;
	                                display: flex;
	                                align-items: center;
	                                justify-content: center;
	                                h4 {
	                                    text-align: center;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	}


}

