<% include ./partials/head %>
	<% include ./partials/mobile-head %>
<div class="view">
	<main class="main-view">
		<section class="standard-section">
			<div class="container">

				<div class="content-block content-block-standard account-block">
					<header>
						<h3>Create Your Book</h3>
					</header>
					<form>
						<h4><span>Step 1.</span> Upload Cover Art</h4>
						<ul class="field-list field-list-split">
							<li>
								<div class="copy">
									<p>Preview</p>
								</div>
								<div class="book-blocks book-blocks-single book-blocks-preview">
									<ul>
										<li>
											<div class="content-block content-block-book">
												<figure>
													<div class="cover" style="">
														<div class="flex">
															<h4>Cover</h4>
														</div>
													</div>
													<figcaption>
														<h4>Title Area</h4>
														<p>By [Author Name]</p>
														<ul class="rating-display">
															<li></li>
															<li></li>
															<li></li>
															<li></li>
															<li></li>
														</ul>
													</figcaption>
												</figure>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="copy">
									<p>Add Basic Information</p>
									<ul class="inner-fields">
										<li>
											<label for="title">Book Title</label>
											<input id="title" type="text">
										</li>
										<li>
											<label for="cover">Upload Cover Art</label>
											<input id="cover" type="file">
											<small>
												Max size of 15 MB<br>
												Dimensions are X by X<br>
												Needs to be jpg, png, or gif
											</small>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<hr>
						<h4><span>Step 2.</span> Tell us about your book</h4>
						<label for="description">Description</label>
						<textarea rows="5" placeholder="Add a 250 character description here."></textarea>
						<p>What type of book is it?</p>
						<ul class="radio-list radio-list-inline">
							<li>
								<input type="radio" name="avatar" id="avatar-1" checked>
								<label for="avatar-1">Serial</label>
							</li>
							<li>
								<input type="radio" name="avatar" id="avatar-2">
								<label for="avatar-2">Published</label>
							</li>
						</ul>
						<hr>
						<h4><span>Step 3.</span> How would you like users to find you?</h4>
						<p>Select up to 3 Genres for your book to be listed</p>
						<ul class="toggle-list">
							<li>Fantasy</li>
							<li>Science Fiction</li>
							<li>Horror</li>
							<li>Non-Fiction</li>
							<li>Mystery</li>
							<li>Romance</li>
							<li>Poetry</li>
							<li class="spacing-block"></li>
							<li class="spacing-block"></li>
						</ul>
						<p>Select up to 3 tags, that best describe your book</p>
						<ul class="toggle-list">
							<li>Contemporary</li>
							<li>Historical</li>
							<li>Drama</li>
							<li>ChickLit</li>
							<li>Tragedy</li>
							<li>Adventure</li>
							<li>Urban</li>
							<li>Epic</li>
							<li>Romance</li>
							<li>Spiritual</li>
							<li>Humor</li>
							<li>Paranormal</li>
							<li>Young Adult</li>
							<li>Middle Grade</li>
							<li>Children</li>
							<li>Thriller</li>
							<li>Mystery</li>
							<li>Classic</li>
							<li class="spacing-block"></li>
							<li class="spacing-block"></li>
						</ul>
						<p>Content warning</p>
						<ul class="toggle-list">
							<li>Warning 1</li>
							<li>Warning 2</li>
							<li>Warning 3</li>
							<li>Warning 4</li>
							<li class="spacing-block"></li>
							<li class="spacing-block"></li>
						</ul>
						<hr>
						<h4><span>Step 4.</span> Where is your book published?</h4>
						<ul class="field-list">
							<li>
								<label for="website">Amazon URL</label>
								<input id="website" type="text">
							</li>
							<li>
								<label for="goodreads">Kobo URL</label>
								<input id="goodreads" type="text">
							</li>
							<li>
								<label for="amazon">Smashword URL</label>
								<input id="amazon" type="text">
							</li>
							<li>
								<label for="wordpress">iTunes URL</label>
								<input id="wordpress" type="text">
							</li>
							<li>
								<label for="facebook">Barnes and Nobles URL</label>
								<input id="facebook" type="text">
							</li>
							<li>
								<label for="twitter">Twitter URL</label>
								<input id="twitter" type="text">
							</li>
						</ul>
						<hr>
						<h4><span>Step 5.</span> Chapter Title</h4>
						<label for="website">What is the title of this chapter?</label>
						<input id="website" type="text">
						<div class="submit-row submit-row-single">
							<div class="buttons">
								<a class="button button-white" href="/views/dashboard/">Cancel</a>
								<a class="button button-red" href=".">Create</a>
							</div>
						</div>
					</form>
				</div>

			</div>
		</section>
		<% include ./partials/main-footer %>
	</main>
	<% include ./partials/sidebar %>
</div>
<% include ./partials/end %>
