<% include ./partials/head %>
	<% include ./partials/mobile-head %>
<div class="view">
	<main class="main-view">
		<section class="standard-section">
			<div class="container">

				<div class="content-block content-block-standard account-block">
					<header>
						<h3>Edit your Profile</h3>
					</header>
					<div id="edit-page" title="<%= title %>"><div>
				</div>

			</div>
		</section>
		<% include ./partials/main-footer %>
	</main>
	<% include ./partials/sidebar %>
</div>
<% include ./partials/end %>
