<% include ./partials/head %>
	<% include ./partials/mobile-head %>
<div class="view">
	<main class="main-view">
		<section class="standard-section">
			<div class="container">

				<div class="content-block content-block-standard account-block">
					<header>
						<h3>Book Brawl Sign Up</h3>
						<p class="lead copy">Already have an account? <a href="javascript(void)" id="loginButton" class="modal-trigger">Log in.</a></p>
					</header>
					<div id="sign-up"><div>
				</div>

			</div>
		</section>
		<% include ./partials/main-footer %>
	</main>
	<% include ./partials/sidebar %>
</div>
<% include ./partials/end %>
